@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos candidatos</h1>
    <p>Clique <a href="/usuarios">aqui</a> para fazer o seu cadastro.</p>
</div>
